master/jade/views/buttons.jade
h3 View Activity
  small views
   .container-fluid(ng-controller="FormInputController as form")
    .row     
       fieldset
          .form-group
            .col-sm-5.col-lg-4
              label.col-sm-3.control-label FROM
              p.input-group
                input.form-control(type='text', datepicker-popup='{{format}}', ng-model='form.dt', is-open='form.opened', min-date='false', max-date="false", datepicker-options='form.dateOptions', date-disabled='form.disabled(form.date, form.mode)', close-text='Close')
                span.input-group-btn
                  button.btn.btn-default(type='button', ng-click='form.open($event)')
                    em.fa.fa-calendar          
          .form-group
            .col-sm-5.col-lg-4
              label.col-sm-3.control-label TO
              p.input-group
                input.form-control(type='text', datepicker-popup='{{format}}', ng-model='form.dt1', is-open='form.opened1', min-date='false', max-date="false", datepicker-options='form.dateOptions1', date-disabled='form.disabled1(form.date, form.mode)', close-text='Close')
                span.input-group-btn
                  button.btn.btn-default(type='button', ng-click='form.open($event)')
                    em.fa.fa-calendar
       input(type="text" placeholder="Search" class="form-control" style="border-radius:15px; float:right; width:90px;")
          
      .col-lg-16
        .panel.panel-default
          .panel-heading
            .panel-body
              .table-responsive
                table.table
                  thead
                    tr
                      th Title
                      th Details
                      th Date
                      th Actions
                    tbody
                      tr
                        td Peter
                        td Severin
                        td July 15
                        td 
                            a(href="#") Edit 
                            a(href="#") View
                      tr
                        td Henry
                        td Severin
                        td July 15
                        td 
                            a(href="#") Edit 
                            a(href="#") View
                      tr
                        td Olga
                        td Severin
                        td July 15
                        td 
                          a(href="#") Edit 
                           a(href="#") View

app/views/buttons.html
<h3>View Activity
   <small>views
      <div data-ng-controller="FormInputController as form" class="container-fluid">
         <div class="row">
            <fieldset>
               <div class="form-group">
                  <div class="col-sm-5 col-lg-4">
                     <label class="col-sm-3 control-label">FROM</label>
                     <p class="input-group">
                        <input type="text" datepicker-popup="{{format}}" data-ng-model="form.dt" is-open="form.opened" min-date="false" max-date="false" datepicker-options="form.dateOptions" date-disabled="form.disabled(form.date, form.mode)" close-text="Close"
                        class="form-control" />
                        <span class="input-group-btn">
                           <button type="button" data-ng-click="form.open($event)" class="btn btn-default">
                              <em class="fa fa-calendar"></em>
                           </button>
                        </span>
                     </p>
                  </div>
               </div>
               <div class="form-group">
                  <div class="col-sm-5 col-lg-4">
                     <label class="col-sm-3 control-label">TO</label>
                     <p class="input-group">
                        <input type="text" datepicker-popup="{{format}}" data-ng-model="form.dt1" is-open="form.opened1" min-date="false" max-date="false" datepicker-options="form.dateOptions1" date-disabled="form.disabled1(form.date, form.mode)" close-text="Close"
                        class="form-control" />
                        <span class="input-group-btn">
                           <button type="button" data-ng-click="form.open($event)" class="btn btn-default">
                              <em class="fa fa-calendar"></em>
                           </button>
                        </span>
                     </p>
                  </div>
               </div>
            </fieldset>
            <input type="text" placeholder="Search" style="border-radius:15px; float:right; width:90px;" class="form-control" />
         </div>
         <div class="col-lg-16">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <div class="panel-body">
                     <div class="table-responsive">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th>Title</th>
                                 <th>Details</th>
                                 <th>Date</th>
                                 <th>Actions</th>
                              </tr>
                              <tbody>
                                 <tr>
                                    <td>Peter</td>
                                    <td>Severin</td>
                                    <td>July 15</td>
                                    <td> <a href="#">Edit </a><a href="#">View</a>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>Henry</td>
                                    <td>Severin</td>
                                    <td>July 15</td>
                                    <td> <a href="#">Edit </a><a href="#">View</a>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>Olga</td>
                                    <td>Severin</td>
                                    <td>July 15</td>
                                    <td> <a href="#">Edit <a href="#">View</a></a>
                                    </td>
                                 </tr>
                              </tbody>
                           </thead>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </small>
</h3>
