app/views/generate.html
<h3>GENERATE REPORT</h3>
<div data-ng-controller="GenerateFormController as form" class="row">
   <div class="col-md-12">
      <form action="#" name="formv" class="form-validate form-horizontal">
         <!-- START panel-->
      </form>
      <div class="col-md-12">
         <div class="panel panel-default">
            <div class="panel-heading">generate by IMM
               <div class="panel-title"></div>
            </div>
            <div align="center" style="margin-left:5%; padding:10%; margin-top:-5%;" class="panel-body">
               <div class="row">
                  <div class="col-sm-9">
                     <div style="padding-left:150px;">
                        <h2><a href="#">From <input type="text" placeholder="dd/mm/yy" class="input-md"/></a>
                           <a href="#">
                              <span class="fa fa-calendar"></span>
                           </a><a> To       <input type="text" placeholder="dd/mm/yy" class="input-md"/></a>
                           <a href="#">
                              <span class="fa fa-calendar"></span>
                           </a>
                           <br/>
                           <br/>
                           <form>
                              <div class="col-md-12">
                                 <button type="button" data-ng-click="$state.go('app.documentation')" class="btn btn-info input-md">GENERATE</button>
                              </div>
                           </form>
                        </h2>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

master/jade/views/generate.jade
h3 GENERATE REPORT
.row(ng-controller="GenerateFormController as form")
  .col-md-12
    form.form-validate.form-horizontal(action='#', name="formv")
      // START panel
    .col-md-12
      .panel.panel-default
        .panel-heading  generate by IMM
          .panel-title 
        .panel-body(align='center' style='margin-left:5%; padding:10%; margin-top:-5%;')
              .row
                .col-sm-9          
                  div(style="padding-left:150px;")
                   h2
                    a(href = "#") From 
                        input(type="text" placeholder="dd/mm/yy").input-md
                      a(href="#")
                        span.fa.fa-calendar
                    a  To       
                        input(type="text" placeholder="dd/mm/yy").input-md
                      a(href = "#")
                        span.fa.fa-calendar
                    br 
                    br
            
                    form
                      .col-md-12
                        button.btn.btn-info(type='button', data-ng-click="$state.go('app.documentation')").input-md GENERATE
            
