app/views/panels.html
<!-- START panel-->
<div data-ng-controller="FormInputController as form" class="container-fluid">
   <div class="panel panel-default">
      <h2 class="panel-heading">SETTINGS</h2>
      <div class="panel-body">
         <fieldset>
            <div class="form-group">
               <div class="row"></div>
               <label class="col-sm-2 control-label">Status</label>
               <div class="col-sm-2">
                  <p>Turn on/off</p>
               </div>
               <div class="col-sm-1">
                  <label class="switch">
                     <input type="checkbox" checked="checked" />
                     <span></span>
                  </label>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <div class="row"></div>
               <label class="col-sm-2 control-label">Update</label>
               <div class="col-sm-2">
                  <p>Allow auto update</p>
               </div>
               <div class="col-sm-1">
                  <label class="switch">
                     <input type="checkbox" checked="checked" />
                     <span></span>
                  </label>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <div class="row"></div>
               <label class="col-sm-2 control-label">Reports</label>
               <div class="col-sm-3">
                  <p>Send reports monthly to email</p>
               </div>
               <div class="col-sm-1">
                  <label class="switch">
                     <input type="checkbox" checked="checked" />
                     <span></span>
                  </label>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <div class="row"></div>
               <label class="col-sm-2 control-label">Startup</label>
               <div class="col-sm-3">
                  <p>Start application when windows start</p>
               </div>
               <div class="col-sm-1">
                  <label class="switch">
                     <input type="checkbox" checked="checked" />
                     <span></span>
                  </label>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <div class="row"></div>
               <label class="col-sm-2 control-label">Change Password</label>
               <div class="col-sm-3">
                  <input type="password" name="password" placeholder="Old password" class="form-control" />
               </div>
            </div>
            <div class="form-group">
               <div class="row"></div>
               <label class="col-sm-2 control-label"></label>
               <div class="col-sm-3">
                  <input type="password" name="password" placeholder="New password" class="form-control" />
               </div>
            </div>
            <div class="form-group">
               <div class="row"></div>
               <label class="col-sm-2 control-label"></label>
               <div class="col-sm-3">
                  <input type="password" name="password" placeholder="Confirm new password" class="form-control" />
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <label class="col-sm-2 control-label">Forgotten Password</label>
               <p>We will send you instructions to reset your password.</p>
            </div>
            <div class="form-group">
               <label class="col-sm-2 control-label"></label>
               <div class="col-sm-3">
                  <form role="form">
                     <div class="form-group has-feedback">
                        <input id="resetInputEmail1" type="email" placeholder="Your email" autocomplete="off" class="form-control" />
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                     </div>
                  </form>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <label class="col-sm-2 control-label">Change email address</label>
               <p>We will send you instructions to change your email address.</p>
            </div>
            <div class="form-group">
               <label class="col-sm-2 control-label"></label>
               <div class="col-sm-3">
                  <form role="form">
                     <div class="form-group has-feedback">
                        <input id="resetInputEmail1" type="email" placeholder="Your old email" autocomplete="off" class="form-control" />
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                     </div>
                  </form>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <label class="col-sm-2 control-label">
                  <div class="col-sm-10">
                     <input type="submit" value="APPLY CHANGES" class="btn btn-primary" />
                  </div>
               </label>
            </div>
         </fieldset>
      </div>
   </div>
</div>
<!-- END panel-->

master/jade/views/panels.jade
// START panel
.container-fluid(ng-controller="FormInputController as form")
  .panel.panel-default
    h2.panel-heading SETTINGS
    .panel-body
      fieldset
        .form-group
          .row
          label.col-sm-2.control-label Status
          .col-sm-2
            p Turn on/off
          .col-sm-1
            label.switch
              input(type='checkbox', checked="checked")
              span
      fieldset
        .form-group
          .row
          label.col-sm-2.control-label Update
          .col-sm-2
            p Allow auto update
          .col-sm-1
            label.switch
              input(type='checkbox', checked="checked")
              span
      fieldset
        .form-group
          .row
          label.col-sm-2.control-label Reports
          .col-sm-3
            p Send reports monthly to email
          .col-sm-1
            label.switch
              input(type='checkbox', checked="checked")
              span
      fieldset
        .form-group
          .row
          label.col-sm-2.control-label Startup
          .col-sm-3
            p Start application when windows start
          .col-sm-1
            label.switch
              input(type='checkbox', checked="checked")
              span
      fieldset
        .form-group
          .row
          label.col-sm-2.control-label Change Password
          .col-sm-3
            input.form-control(type='password', name='password', placeholder="Old password")
        .form-group
          .row
          label.col-sm-2.control-label
          .col-sm-3
            input.form-control(type='password', name='password', placeholder="New password")
        .form-group
          .row
          label.col-sm-2.control-label
          .col-sm-3
            input.form-control(type='password', name='password', placeholder="Confirm new password")
      fieldset
        .form-group
          label.col-sm-2.control-label Forgotten Password
          p We will send you instructions to reset your password.
        .form-group
          label.col-sm-2.control-label
          .col-sm-3
            form(role='form')
              .form-group.has-feedback
                input#resetInputEmail1.form-control(type='email', placeholder='Your email', autocomplete="off")
                span.fa.fa-envelope.form-control-feedback.text-muted
      fieldset
        .form-group
          label.col-sm-2.control-label Change email address
          p We will send you instructions to change your email address.
        .form-group
          label.col-sm-2.control-label
          .col-sm-3
            form(role='form')
              .form-group.has-feedback
                input#resetInputEmail1.form-control(type='email', placeholder='Your old email', autocomplete="off")
                span.fa.fa-envelope.form-control-feedback.text-muted
      fieldset
        .form-group
          label.col-sm-2.control-label
            .col-sm-10
              input(type="submit" class="btn btn-primary" value="APPLY CHANGES")
// END panel
