master/jade/views/zero/add-report.jade
h4 ADD REPORT
.container-fluid
  .col-md-6
    form.form-horizontal
      input(type="text", placeholder="Title", ng-model="report.title", class="form-control")
      br
      
      textarea(class="form-control", ng-model="report.content",style="height: 200px;")
      br
      .form-group 
        .col-sm-10.col-lg-6
          p.input-group
            input.form-control(type='text', datepicker-popup='{{format}}', ng-model='report.dt', is-open='opened', min-date='false', max-date="false", datepicker-options='dateOptions', date-disabled='disabled(date, mode)', close-text='Close')
            span.input-group-btn
              button.btn.btn-default(type='button', ng-click='open($event)')
                em.fa.fa-calendar
      .form-group
       .col-sm-10.col-lg-10 
        input(type="submit", ng-click="addR(report)", class="btn btn-primary", value="Add Report")
    
  .row(style='margin-left:5%;')
    .col-md-5
      .panel.panel-info
        .panel-heading
          .panel-title.bg-info
            em.icon-clock.fa-lg.pull-right.text-muted
            | Recent Reports
        // List group
        scrollable(style='padding: 5%;')
          // START timeline
          ul.timeline-alt
            li.timeline-separator(data-datetime='Today')
            // START timeline item
            li
              .timeline-badge.timeline-badge-sm.thumb-32.bg-danger
                em.fa.fa-info
              .timeline-date
                time(datetime='Just Now')
              .timeline-panel
                strong Signed Papers
            // END timeline item
            // START timeline item
            li
              .timeline-badge.timeline-badge-sm.bg-warning
                em.fa.fa-info
              .timeline-date
                time(datetime='12 Noon')
              .timeline-panel
                strong Attended SDC meeting
                .text-muted
                  | .
            // END timeline item
            // START timeline item
            li
              .timeline-badge.timeline-badge-sm.bg-turquoise
                em.fa.fa-info
              .timeline-date
                time(datetime='7 AM')
              .timeline-panel
                strong Something Else
            // END timeline item
            li.timeline-separator(data-datetime='Yesterday')
            // START timeline item
            li
              .timeline-badge.timeline-badge-sm.bg-danger
                em.icon-head
              .timeline-date
                time(datetime='9am')
              .timeline-panel
                strong Met with VC
            li.timeline-separator(data-datetime='Last Week')
            li
              .timeline-badge.timeline-badge-sm.bg-warning
                em.fa.fa-info
              .timeline-date
                time(datetime='12 noon')
              .timeline-panel
                strong Attended Committee Meeting
            li.timeline-separator(data-datetime='13 FEB')
            li
              .timeline-badge.timeline-badge-sm.bg-warning
                em.fa.fa-info
              .timeline-date
                time(datetime='8 PM')
              .timeline-panel
                strong Departure Service
            // END timeline item
          // END timeline
  // ================= END THE UPCOMMING ACTIVITIES ===========

app/views/zero/add-report.html
<h4>ADD REPORT</h4>
<div class="container-fluid">
   <div class="col-md-6">
      <form class="form-horizontal">
         <input type="text" placeholder="Title" data-ng-model="report.title" class="form-control" />
         <br/>
         <textarea data-ng-model="report.content" style="height: 200px;" class="form-control"></textarea>
         <br/>
         <div class="form-group">
            <div class="col-sm-10 col-lg-6">
               <p class="input-group">
                  <input type="text" datepicker-popup="{{format}}" data-ng-model="report.dt" is-open="opened" min-date="false" max-date="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" class="form-control"
                  />
                  <span class="input-group-btn">
                     <button type="button" data-ng-click="open($event)" class="btn btn-default">
                        <em class="fa fa-calendar"></em>
                     </button>
                  </span>
               </p>
            </div>
         </div>
         <div class="form-group">
            <div class="col-sm-10 col-lg-10">
               <input type="submit" data-ng-click="addR(report)" value="Add Report" class="btn btn-primary" />
            </div>
         </div>
      </form>
   </div>
   <div style="margin-left:5%;" class="row">
      <div class="col-md-5">
         <div class="panel panel-info">
            <div class="panel-heading">
               <div class="panel-title bg-info">
                  <em class="icon-clock fa-lg pull-right text-muted"></em>Recent Reports</div>
            </div>
            <!-- List group-->
            <scrollable style="padding: 5%;">
               <!-- START timeline-->
               <ul class="timeline-alt">
                  <li data-datetime="Today" class="timeline-separator"></li>
                  <!-- START timeline item-->
                  <li>
                     <div class="timeline-badge timeline-badge-sm thumb-32 bg-danger">
                        <em class="fa fa-info"></em>
                     </div>
                     <div class="timeline-date">
                        <time datetime="Just Now"></time>
                     </div>
                     <div class="timeline-panel">
                        <strong>Signed Papers</strong>
                     </div>
                  </li>
                  <!-- END timeline item-->
                  <!-- START timeline item-->
                  <li>
                     <div class="timeline-badge timeline-badge-sm bg-warning">
                        <em class="fa fa-info"></em>
                     </div>
                     <div class="timeline-date">
                        <time datetime="12 Noon"></time>
                     </div>
                     <div class="timeline-panel">
                        <strong>Attended SDC meeting</strong>
                        <div class="text-muted">.</div>
                     </div>
                  </li>
                  <!-- END timeline item-->
                  <!-- START timeline item-->
                  <li>
                     <div class="timeline-badge timeline-badge-sm bg-turquoise">
                        <em class="fa fa-info"></em>
                     </div>
                     <div class="timeline-date">
                        <time datetime="7 AM"></time>
                     </div>
                     <div class="timeline-panel">
                        <strong>Something Else</strong>
                     </div>
                  </li>
                  <!-- END timeline item-->
                  <li data-datetime="Yesterday" class="timeline-separator"></li>
                  <!-- START timeline item-->
                  <li>
                     <div class="timeline-badge timeline-badge-sm bg-danger">
                        <em class="icon-head"></em>
                     </div>
                     <div class="timeline-date">
                        <time datetime="9am"></time>
                     </div>
                     <div class="timeline-panel">
                        <strong>Met with VC</strong>
                     </div>
                  </li>
                  <li data-datetime="Last Week" class="timeline-separator"></li>
                  <li>
                     <div class="timeline-badge timeline-badge-sm bg-warning">
                        <em class="fa fa-info"></em>
                     </div>
                     <div class="timeline-date">
                        <time datetime="12 noon"></time>
                     </div>
                     <div class="timeline-panel">
                        <strong>Attended Committee Meeting</strong>
                     </div>
                  </li>
                  <li data-datetime="13 FEB" class="timeline-separator"></li>
                  <li>
                     <div class="timeline-badge timeline-badge-sm bg-warning">
                        <em class="fa fa-info"></em>
                     </div>
                     <div class="timeline-date">
                        <time datetime="8 PM"></time>
                     </div>
                     <div class="timeline-panel">
                        <strong>Departure Service</strong>
                     </div>
                  </li>
                  <!-- END timeline item-->
               </ul>
               <!-- END timeline-->
            </scrollable>
         </div>
      </div>
   </div>
   <!-- ================= END THE UPCOMMING ACTIVITIES ===========-->
</div>
