master/jade/views/zero/dashboard.jade
h3
  .pull-right
    button.btn.btn-info(type='button', data-ng-click="$state.go('app.about')")
      em.fa.fa-info
  | Dashboard
  small(data-ng-bind="'By David'")
.row(style='margin-left:5%;')
  .col-md-5
    .panel.panel-info
      .panel-heading
        .panel-title.bg-info
          em.icon-clock.fa-lg.pull-right.text-muted
          | Recent Activities
      // List group
      scrollable(style='padding: 5%;')
        // START timeline
        ul.timeline-alt
          li.timeline-separator(data-datetime='Today')
          // START timeline item
          li
            .timeline-badge.timeline-badge-sm.thumb-32.bg-danger
              em.fa.fa-info
            .timeline-date
              time(datetime='Just Now')
            .timeline-panel
              strong Signed Papers
          // END timeline item
          // START timeline item
          li
            .timeline-badge.timeline-badge-sm.bg-warning
              em.fa.fa-info
            .timeline-date
              time(datetime='12 Noon')
            .timeline-panel
              strong Attended SDC meeting
              .text-muted
                | .
          // END timeline item
          // START timeline item
          li
            .timeline-badge.timeline-badge-sm.bg-turquoise
              em.fa.fa-info
            .timeline-date
              time(datetime='7 AM')
            .timeline-panel
              strong Something Else
          // END timeline item
          li.timeline-separator(data-datetime='Yesterday')
          // START timeline item
          li
            .timeline-badge.timeline-badge-sm.bg-danger
              em.icon-head
            .timeline-date
              time(datetime='9am')
            .timeline-panel
              strong Met with VC
          li.timeline-separator(data-datetime='Last Week')
          li
            .timeline-badge.timeline-badge-sm.bg-warning
              em.fa.fa-info
            .timeline-date
              time(datetime='12 noon')
            .timeline-panel
              strong Attended Committee Meeting
          li.timeline-separator(data-datetime='13 FEB')
          li
            .timeline-badge.timeline-badge-sm.bg-warning
              em.fa.fa-info
            .timeline-date
              time(datetime='8 PM')
            .timeline-panel
              strong Departure Service
          // END timeline item
        // END timeline
  // ================= END THE UPCOMMING ACTIVITIES ===========
  .col-md-5
    .panel.panel-info
      .panel-heading
        .panel-title.bg-info
          em.fa.fa-calendar.fa-lg.pull-right.text-muted
          | Upcomming Events
      // List group
      scrollable(style='padding: 5%;')
        // START timeline
        ul.timeline-alt
          li.timeline-separator(data-datetime='12 JUN')
          // START timeline item
          li
            .timeline-badge.timeline-badge-sm.thumb-32.bg-danger
              em.fa.fa-info
            .timeline-date
              time(datetime='10 AM')
            .timeline-panel
              strong Client Meeting
              .text-muted Priority Level: Very Important
          // END timeline item
          // START timeline item
          li
            .timeline-badge.timeline-badge-sm.bg-warning
              em.fa.fa-info
            .timeline-date
              time(datetime='6 PM')
            .timeline-panel
              strong SDC Retreat
              .text-muted
                | Priority level: Medium.
          // END timeline item
          // START timeline item
          li
            .timeline-badge.timeline-badge-sm.bg-turquoise
              em.fa.fa-info
            .timeline-date
              time(datetime='3h')
            .timeline-panel
              strong Something Else
              .text-muted
                strong Priority level: Low
          // END timeline item
          li.timeline-separator(data-datetime='12 NOV')
          // START timeline item
          li
            .timeline-badge.timeline-badge-sm.bg-danger
              em.icon-heart
            .timeline-date
              time(datetime='9am')
            .timeline-panel
              strong Wife's Birthday
              strong
                .text-muted Priority level: High
          li.timeline-separator(data-datetime='23 NOV')
          li
            .timeline-badge.timeline-badge-sm.bg-warning
              em.fa.fa-info
            .timeline-date
              time(datetime='12 noon')
            .timeline-panel
              strong Committee Meeting
              strong
                .text-muted Priority level: Medium
          li.timeline-separator(data-datetime='28 NOV')
          li
            .timeline-badge.timeline-badge-sm.bg-warning
              em.fa.fa-info
            .timeline-date
              time(datetime='8 PM')
            .timeline-panel
              strong Departure Service
              strong
                .text-muted Priority level: Medium
          // END timeline item
        // END timeline

app/views/zero/dashboard.html
<h3>
   <div class="pull-right">
      <button type="button" data-ng-click="$state.go('app.about')" class="btn btn-info">
         <em class="fa fa-info"></em>
      </button>
   </div>Dashboard
   <small data-ng-bind="'By David'"></small>
</h3>
<div style="margin-left:5%;" class="row">
   <div class="col-md-5">
      <div class="panel panel-info">
         <div class="panel-heading">
            <div class="panel-title bg-info">
               <em class="icon-clock fa-lg pull-right text-muted"></em>Recent Activities</div>
         </div>
         <!-- List group-->
         <scrollable style="padding: 5%;">
            <!-- START timeline-->
            <ul class="timeline-alt">
               <li data-datetime="Today" class="timeline-separator"></li>
               <!-- START timeline item-->
               <li>
                  <div class="timeline-badge timeline-badge-sm thumb-32 bg-danger">
                     <em class="fa fa-info"></em>
                  </div>
                  <div class="timeline-date">
                     <time datetime="Just Now"></time>
                  </div>
                  <div class="timeline-panel">
                     <strong>Signed Papers</strong>
                  </div>
               </li>
               <!-- END timeline item-->
               <!-- START timeline item-->
               <li>
                  <div class="timeline-badge timeline-badge-sm bg-warning">
                     <em class="fa fa-info"></em>
                  </div>
                  <div class="timeline-date">
                     <time datetime="12 Noon"></time>
                  </div>
                  <div class="timeline-panel">
                     <strong>Attended SDC meeting</strong>
                     <div class="text-muted">.</div>
                  </div>
               </li>
               <!-- END timeline item-->
               <!-- START timeline item-->
               <li>
                  <div class="timeline-badge timeline-badge-sm bg-turquoise">
                     <em class="fa fa-info"></em>
                  </div>
                  <div class="timeline-date">
                     <time datetime="7 AM"></time>
                  </div>
                  <div class="timeline-panel">
                     <strong>Something Else</strong>
                  </div>
               </li>
               <!-- END timeline item-->
               <li data-datetime="Yesterday" class="timeline-separator"></li>
               <!-- START timeline item-->
               <li>
                  <div class="timeline-badge timeline-badge-sm bg-danger">
                     <em class="icon-head"></em>
                  </div>
                  <div class="timeline-date">
                     <time datetime="9am"></time>
                  </div>
                  <div class="timeline-panel">
                     <strong>Met with VC</strong>
                  </div>
               </li>
               <li data-datetime="Last Week" class="timeline-separator"></li>
               <li>
                  <div class="timeline-badge timeline-badge-sm bg-warning">
                     <em class="fa fa-info"></em>
                  </div>
                  <div class="timeline-date">
                     <time datetime="12 noon"></time>
                  </div>
                  <div class="timeline-panel">
                     <strong>Attended Committee Meeting</strong>
                  </div>
               </li>
               <li data-datetime="13 FEB" class="timeline-separator"></li>
               <li>
                  <div class="timeline-badge timeline-badge-sm bg-warning">
                     <em class="fa fa-info"></em>
                  </div>
                  <div class="timeline-date">
                     <time datetime="8 PM"></time>
                  </div>
                  <div class="timeline-panel">
                     <strong>Departure Service</strong>
                  </div>
               </li>
               <!-- END timeline item-->
            </ul>
            <!-- END timeline-->
         </scrollable>
      </div>
   </div>
   <!-- ================= END THE UPCOMMING ACTIVITIES ===========-->
   <div class="col-md-5">
      <div class="panel panel-info">
         <div class="panel-heading">
            <div class="panel-title bg-info">
               <em class="fa fa-calendar fa-lg pull-right text-muted"></em>Upcomming Events</div>
         </div>
         <!-- List group-->
         <scrollable style="padding: 5%;">
            <!-- START timeline-->
            <ul class="timeline-alt">
               <li data-datetime="12 JUN" class="timeline-separator"></li>
               <!-- START timeline item-->
               <li>
                  <div class="timeline-badge timeline-badge-sm thumb-32 bg-danger">
                     <em class="fa fa-info"></em>
                  </div>
                  <div class="timeline-date">
                     <time datetime="10 AM"></time>
                  </div>
                  <div class="timeline-panel">
                     <strong>Client Meeting</strong>
                     <div class="text-muted">Priority Level: Very Important</div>
                  </div>
               </li>
               <!-- END timeline item-->
               <!-- START timeline item-->
               <li>
                  <div class="timeline-badge timeline-badge-sm bg-warning">
                     <em class="fa fa-info"></em>
                  </div>
                  <div class="timeline-date">
                     <time datetime="6 PM"></time>
                  </div>
                  <div class="timeline-panel">
                     <strong>SDC Retreat</strong>
                     <div class="text-muted">Priority level: Medium.</div>
                  </div>
               </li>
               <!-- END timeline item-->
               <!-- START timeline item-->
               <li>
                  <div class="timeline-badge timeline-badge-sm bg-turquoise">
                     <em class="fa fa-info"></em>
                  </div>
                  <div class="timeline-date">
                     <time datetime="3h"></time>
                  </div>
                  <div class="timeline-panel">
                     <strong>Something Else</strong>
                     <div class="text-muted">
                        <strong>Priority level: Low</strong>
                     </div>
                  </div>
               </li>
               <!-- END timeline item-->
               <li data-datetime="12 NOV" class="timeline-separator"></li>
               <!-- START timeline item-->
               <li>
                  <div class="timeline-badge timeline-badge-sm bg-danger">
                     <em class="icon-heart"></em>
                  </div>
                  <div class="timeline-date">
                     <time datetime="9am"></time>
                  </div>
                  <div class="timeline-panel">
                     <strong>Wife's Birthday</strong>
                     <strong>
                        <div class="text-muted">Priority level: High</div>
                     </strong>
                  </div>
               </li>
               <li data-datetime="23 NOV" class="timeline-separator"></li>
               <li>
                  <div class="timeline-badge timeline-badge-sm bg-warning">
                     <em class="fa fa-info"></em>
                  </div>
                  <div class="timeline-date">
                     <time datetime="12 noon"></time>
                  </div>
                  <div class="timeline-panel">
                     <strong>Committee Meeting</strong>
                     <strong>
                        <div class="text-muted">Priority level: Medium</div>
                     </strong>
                  </div>
               </li>
               <li data-datetime="28 NOV" class="timeline-separator"></li>
               <li>
                  <div class="timeline-badge timeline-badge-sm bg-warning">
                     <em class="fa fa-info"></em>
                  </div>
                  <div class="timeline-date">
                     <time datetime="8 PM"></time>
                  </div>
                  <div class="timeline-panel">
                     <strong>Departure Service</strong>
                     <strong>
                        <div class="text-muted">Priority level: Medium</div>
                     </strong>
                  </div>
               </li>
               <!-- END timeline item-->
            </ul>
            <!-- END timeline-->
         </scrollable>
      </div>
   </div>
</div>
