master/jade/views/zero/generate.jade
h4 GENERATE REPORT
.container-fluid(ng-controller="FormInputController as form")
  panel.panel-default
    .panel-heading
      .panel-body
        .form-group.mb
          .col-sm-5.col-lg-3
            label Select Period
            select.chosen-select.input-md(chosen='', ng-model='state', ng-options='s for s in form.states')
          .col-sm-5.col-lg-4
            label .
            .form-group
              p.input-group
                button.btn.btn-success(type="submit") Generate
            

app/views/zero/generate.html
<h4>GENERATE REPORT</h4>
<div data-ng-controller="FormInputController as form" class="container-fluid">
   <panel class="panel-default">
      <div class="panel-heading">
         <div class="panel-body">
            <div class="form-group mb">
               <div class="col-sm-5 col-lg-3">
                  <label>Select Period</label>
                  <select chosen="" data-ng-model="state" data-ng-options="s for s in form.states" class="chosen-select input-md"></select>
               </div>
               <div class="col-sm-5 col-lg-4">
                  <label>.</label>
                  <div class="form-group">
                     <p class="input-group">
                        <button type="submit" class="btn btn-success">Generate</button>
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </panel>
</div>
