app/views/zero/settings.html
<!-- START panel-->
<div data-ng-controller="FormInputController as form" class="container-fluid">
   <div class="panel panel-default">
      <div class="panel-body">
         <fieldset>
            <div class="form-group">
               <div class="row">
                  <label class="col-sm-3 control-label">Reminder Notification</label>
                  <div class="col-sm-1">
                     <label class="switch">
                        <input type="checkbox" checked="checked" />
                        <span></span>
                     </label>
                  </div>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <div class="row">
                  <label class="col-sm-3 control-label">Allow automatic update</label>
                  <div class="col-sm-1">
                     <label class="switch">
                        <input type="checkbox" checked="checked" />
                        <span></span>
                     </label>
                  </div>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <div class="row">
                  <label class="col-sm-3 control-label">Send reports monthly to email</label>
                  <div class="col-sm-1">
                     <label class="switch">
                        <input type="checkbox" checked="checked" />
                        <span></span>
                     </label>
                  </div>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <div class="row">
                  <label class="col-sm-3 control-label">Start application when windows starts</label>
                  <div class="col-sm-1">
                     <label class="switch">
                        <input type="checkbox" checked="checked" />
                        <span></span>
                     </label>
                  </div>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <div class="row">
                  <label class="col-sm-2 control-label">Change Lock password</label>
                  <div class="col-sm-3">
                     <input type="password" name="password" placeholder="Old password" class="form-control" />
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="row">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-3">
                     <input type="password" name="password" placeholder="New password" class="form-control" />
                  </div>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <div class="row">
                  <label class="col-sm-2 control-label">Set personal details</label>
                  <div class="col-sm-3">
                     <div class="form-group has-feedback">
                        <input type="text" placeholder="Full Name" autocomplete="off" class="form-control" />
                        <span class="fa fa-user form-control-feedback text-muted"></span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="row">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-3">
                     <div class="form-group has-feedback">
                        <input type="email" placeholder="Designation" autocomplete="off" class="form-control" />
                        <span class="fa fa-briefcase form-control-feedback text-muted"></span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="form-group">
               <div class="row">
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-3">
                     <div class="form-group has-feedback">
                        <input type="email" placeholder="Email Address" autocomplete="off" class="form-control" />
                        <span class="fa fa-envelope form-control-feedback text-muted"></span>
                     </div>
                  </div>
               </div>
            </div>
         </fieldset>
         <fieldset>
            <div class="form-group">
               <label class="col-sm-2 control-label">
                  <div class="col-sm-10">
                     <button class="btn btn-info">Save</button>
                  </div>
               </label>
            </div>
         </fieldset>
      </div>
   </div>
</div>
<!-- END panel-->

master/jade/views/zero/settings.jade
// START panel
.container-fluid(ng-controller="FormInputController as form")
  .panel.panel-default
    .panel-body
      fieldset
        .form-group
          .row
            label.col-sm-3.control-label Reminder Notification
            .col-sm-1
              label.switch
                input(type='checkbox', checked="checked")
                span
      fieldset
        .form-group
          .row
            label.col-sm-3.control-label Allow automatic update
            .col-sm-1
              label.switch
                input(type='checkbox', checked="checked")
                span
      fieldset
        .form-group
          .row
            label.col-sm-3.control-label Send reports monthly to email
            .col-sm-1
              label.switch
                input(type='checkbox', checked="checked")
                span
      fieldset
        .form-group
          .row
            label.col-sm-3.control-label Start application when windows starts
            .col-sm-1
              label.switch
                input(type='checkbox', checked="checked")
                span
      fieldset
        .form-group
          .row
            label.col-sm-2.control-label Change Lock password
            .col-sm-3
              input.form-control(type='password', name='password', placeholder="Old password")
        .form-group
          .row
            label.col-sm-2.control-label
            .col-sm-3
              input.form-control(type='password', name='password', placeholder="New password")
      fieldset
        .form-group
          .row
            label.col-sm-2.control-label Set personal details
            .col-sm-3
              .form-group.has-feedback
                input.form-control(type='text', placeholder="Full Name", autocomplete="off")
                span.fa.fa-user.form-control-feedback.text-muted        
        .form-group
          .row
            label.col-sm-2.control-label
            .col-sm-3
              .form-group.has-feedback
                input.form-control(type='email', placeholder="Designation", autocomplete="off")
                span.fa.fa-briefcase.form-control-feedback.text-muted        
        .form-group
          .row
            label.col-sm-2.control-label
            .col-sm-3
              .form-group.has-feedback
                input.form-control(type='email', placeholder="Email Address", autocomplete="off")
                span.fa.fa-envelope.form-control-feedback.text-muted
      fieldset
        .form-group
          label.col-sm-2.control-label
            .col-sm-10
              button.btn.btn-info Save
// END panel
