master/jade/views/zero/zero.jade
.abs-center.wd-xxl(style='height:80%; margin-top: 8%;')
  h3.text-center Project Z3Ro
  p.text-center Version 1.1.100
  br
  img.img-circle.center-block.thumb90(data-ng-src='{{app.icon}}', alt='App Icon')
  br
  .text-center &copy; 2016-2019 Team Replug.
  .text-center All Rights Reserved.
  br
  .text-center.mt-sm
    a.text-muted(ui-sref='page.recover')
      small LICENSES

app/views/zero/zero.html
<div style="height:80%; margin-top: 8%;" class="abs-center wd-xxl">
   <h3 class="text-center">Project Z3Ro</h3>
   <p class="text-center">Version 1.1.100</p>
   <br/>
   <img data-ng-src="{{app.icon}}" alt="App Icon" class="img-circle center-block thumb90" />
   <br/>
   <div class="text-center">&copy; 2016-2019 Team Replug.</div>
   <div class="text-center">All Rights Reserved.</div>
   <br/>
   <div class="text-center mt-sm">
      <a ui-sref="page.recover" class="text-muted">
         <small>LICENSES</small>
      </a>
   </div>
</div>
